REDMINE_EMAIL_RECEIVE_COMMAND="/opt/redmine-4.0.0-0/ruby/bin/ruby /opt/redmine-4.0.0-0/apps/redmine/htdocs/bin/bundle exec rake --trace -f /opt/redmine-4.0.0-0/apps/redmine/htdocs/Rakefile redmine:email:receive_imap RAILS_ENV=production host=0.0.0.0 port=143 username=redmine@example.com password=PASSWORD"
REDMINE_MYSQLDUMP_COMMAND= "/opt/redmine-4.0.0-0/mysql/bin/mysqldump --single-transaction -u root -pPASSWORD bitnami_redmine > /home/redmine/dump/bitnami_redmine_YYYYMMDD_HHmmss.dump"
SHUTDOWN_COMMAND="/sbin/shutdown -r now"